@using Peacock.Common.Helper
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="report-tab" style="padding-bottom: 0;">
    <form id="searchinfo">
        <table border="0" cellspacing="0" cellpadding="0" class="report">
            <tr>               
                <td>公司名称：</td>
                <td><input type="text" class="business-input" name="CompanyName" id="CompanyName" /></td> 
                
                <td>业务类型：</td>           
                <td>
                    @foreach (var item in (List<EnumEntity>) ViewBag.BusinessType)
                    {
                        <input type="checkbox" name="BuninessType" value="@item.EnumName"/>@item.EnumName
                    }
                </td>
                <td>状态：</td>
                <td>
                    <select id="IsEnabled" name="IsEnabled" class="business-input">
                        <option></option>
                        <option value="true">可用</option>
                        <option value="false">禁用</option>
                    </select>
                </td>
                <td><button type="button" class="business-btn-1" name="search" id="search">查询</button></td>
                <td><button type="button" class="project-btn-3" id="add">添加公司</button>   <input type="reset" class="btn btn-sm btn-add" value="重置" id=""></td>
            </tr>
        </table>
    </form>
    <div id="tablelist" class="tablelist">
        <table id="table"></table>
    </div>
</div>
<script type="text/javascript">
    var index, dialog,confirm;

    $(function () {
        $("#search").click(search);

        $("#add").click(function () {
            if (dialog) {
                layer.closeAll();
            }
            dialog = layer.open({
                type: 2,
                title: "添加公司",
                shade: false,
                area: ['600px', '300px'],
                content: '/Company/Create' 
            });
        });

        tableint();
    });

    function search() {
        $('#table').bootstrapTable("destroy");
        tableint();
    }

    function tableint() {
        var busTypes = [];
        $("input[name='BuninessType']:checked").each(function () {
            busTypes.push($(this).val());
        });
        $('#table').bootstrapTable({
            url: '/Company/GetCompanyList', //请求后台的URL（*）
            method: 'post', //请求方式（*）
            toolbar: '#toolbar', //工具按钮用哪个容器
            striped: true, //是否显示行间隔色
            cache: false, //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
            pagination: true, //是否显示分页（*）
            sortable: false, //是否启用排序
            sortOrder: "asc", //排序方式
            queryParams: function (params) {
                return {                   
                    CompanyName: $("#CompanyName").val(),
                    IsEnabled: $("#IsEnabled").val(),
                    buninessTypes:busTypes,
                    index: params.offset / params.limit + 1, //页码
                    rows: params.limit, //页面大小
                };
            }, //传递参数（*）
            sidePagination: "server", //分页方式：client客户端分页，server服务端分页（*）
            pageNumber: 1, //初始化加载第一页，默认第一页
            pageSize: 10, //每页的记录行数（*）
            pageList: [10, 25, 50, 100], //可供选择的每页的行数（*）
            strictSearch: true,
            clickToSelect: true, //是否启用点击选中行
            height: 'auto', //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
            uniqueId: "Id", //每一行的唯一标识，一般为主键列
            cardView: false, //是否显示详细视图
            detailView: false, //是否显示父子表
            columns: [                
                {
                    title: '公司名称',
                    field: 'CompanyName',
                    align: 'left',
                    valign: 'middle',
                    width: '15%'
                },
                {
                    title: '用户名称',
                    field: 'UserName',
                    align: 'left',
                    valign: 'middle',
                    width: '15%'
                },
                {
                    title: '业务类型',
                    field: 'BusinessTypes',
                    align: 'left',
                    valign: 'middle',
                    width: '10%'
                },
                {
                    title: '数字签名Id',
                    field: 'UserKeyId',
                    align: 'left',
                    valign: 'middle',
                    width: '15%'
                },
                {
                    title: '数字签名密钥',
                    field: 'UserAccessKey',
                    align: 'left',
                    valign: 'middle',
                    width: '15%'
                },
                {
                    title: '创建日期',
                    field: 'CreateTime',
                    align: 'left',
                    valign: 'middle',
                    width: '15%'
                },
                {
                    title: '状态',
                    field: 'Status',
                    align: 'left',
                    valign: 'middle',
                    width: '5%'
                },
                {
                    title: '操作',
                    align: 'center',
                    valign: 'middle',
                    width: '10%',
                    formatter: function (value, row, index) {
                        var a = '<a href="javascript:void(0);"  onclick=EditCompany("' + row.Id + '")>修改</a>&nbsp;';
                        var b = '';
                        if (row.IsEnabled) {
                            b = '<a href="javascript:void(0);"  onclick=changeStatus("' + row.Id + '",false,"禁用")>禁用</a>&nbsp;';
                        } else {
                            b = '<a href="javascript:void(0);"  onclick=changeStatus("' + row.Id + '",true,"启用")>启用</a>&nbsp; ';
                        }
                        var c = '<a href="javascript:void(0);" onclick=changePassword("' + row.Id + '")>修改密码</a>';
                        return a + b+c;
                    }
                }
            ],
            onLoadSuccess: function () {
                $('#searchBtn').attr("disabled", false);
            },
            onLoadError: function () {
                $('#searchBtn').attr("disabled", false);
            }
        });
    }

    //添加公司
    function EditCompany(id) {
        if (dialog) {
            layer.closeAll();
        }
        dialog = layer.open({
            type: 2,
            title: "修改公司",
            shade: false,
            area: ['600px', '300px'],
            content: '/Company/Edit?Id='+id
        });
    }

    //更改状态
    function changeStatus(id, status, operate) {
        confirm = layer.confirm('是否' + operate + '该公司？', {
            btn: ['确定', '取消']
        }, function () {
            $.ajax({
                url: '@Url.Action("SaveStatus", "Company")',
                dataType: "json",
                type: "post",
                data: {
                    'id': id,
                    'status': status
                },
                beforesend: showLoadingTips(),
                complete: function () { hideLoadingTips(); },
                success: function (result) {                   
                    if (result.success) {
                        layer.alert('操作成功', { icon: 1 }, function () {
                            layer.closeAll();
                            search();
                        });
                    }
                    else {
                        layer.alert(result.message, { icon: 2 });
                    }
                },
                error: function () {
                    layer.alert('操作失败！', { icon: 2 });
                }
            });
        }, function () {
            layer.close(confirm);
        });
    }

    //更改密码
    function changePassword(id) {
        layer.prompt({
            title: '更改密码',
            shade: false,
            formType: 1,//prompt风格，支持0-2
            btn: ["确定", "取消"],
            maxlength: 50
        }, function (value) {
            if (value.trim().length == 0) {
                layer.tips('新密码不能为空！', '.layui-layer-input', {
                    tips: [1, '#34b5e2']
                });
                return;
            }
            if (value.trim().length <6) {
                layer.tips('密码长度不能小于6位！', '.layui-layer-input', {
                    tips: [1, '#34b5e2']
                });
                return;
            }
            $.ajax({
                type: "post",
                url: '@Url.Action("ChangePassword", "Company")',
                beforesend: showLoadingTips(),
                complete: function () { hideLoadingTips(); },
                data: { companyId: id, password: value },
                success: function (result) {
                    if (result.success) {
                        layer.alert("操作成功！", { icon: 1, closeBtn: false }, function () {
                            layer.closeAll();
                        });
                    } else {
                        layer.alert(result.message, { icon: 2, closeBtn: false }, function () {
                            layer.closeAll();
                        });
                    }
                },
                error: function () {
                    layer.alert('操作失败！', { icon: 2 });
                }
            });
        });
    }
</script>